{% extends 'charbucket/base.html' %}
{% block content %}
    <div class="card">
        <div class="card-header">
            <p>{{post.title}} - {{post.user}}</p>
        </div>
        <div class="card-body">
            <input id="whiteboardInput" type="hidden" value="{{post.text|safe}}">
            <trix-editor input="whiteboardInput" id="whiteboard" contenteditable="true"></trix-editor>
            <div>
                <ul id="comment_block" class="list-group list-group-flush">
                    {% for comment in post.comments.all %}
                    <li class="list-group-item">{{comment}}</li>
                    {% endfor %}
                </ul>
                <input id = "comment_input" type = "text"/>
                <br>
                <!-- <input id = "comment_submit" type="button" value="Send"/> -->
                <button id="comment_submit" type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
        <div>
            <input type="hidden" id="testInput" value="{{post.text|safe}}">
            <trix-editor input="testInput" id="testdisplay" contenteditable="true"></trix-editor>
        </div>

        </div>
    </div>

<script type="text/javascript">

    let commSocket = new WebSocket(
        'ws://' + window.location.host + 
        '/ws/charapp/table/{{post.id}}/'
    );


    commSocket.onmessage = function(e) {
        console.log('message recieved by client')
        let data = JSON.parse(e.data);
        console.log(data)
        if (data['type'] === 'comment') {
            let message = data['message'];
            let li = document.createElement('li');
            li.innerHTML = data['user'] + ': ' + data['comment']
            li.classList.add('list-group-item')
            let comBlock = document.querySelector('#comment_block')
            comBlock.appendChild(li)};
        
        if (data['type'] === 'alteration') {
            let range = whiteboard.editor.getSelectedRange();
            let userID = data['userID'];
            document.querySelector('#testdisplay').editor.loadJSON(data['whiteboard']);
            whiteboard.editor.setSelectedRange(range);
        };
    };

    commSocket.onclose = function(e) {
        console.error('Websocket closed unexpectedly');
    };

    /*document.querySelector('#comment_input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#comment_submit').click();
        }
    };*/

    comment_submit.onclick = function(e) {
        let post = {{post.id}};
        let user = {{user.id}};
        let commTextInput = document.querySelector('#comment_input');
        let commText = commTextInput.value;
        commSocket.send(JSON.stringify({
            'type': 'comment',
            'commText': commText,
            'userID': user,
            'postID': post,
        }));
        commTextInput.value = '';
    };

    whiteboard.addEventListener('trix-change', _.debounce(function(e) {
        let userID = {{user.id}};
        let whiteboardData = whiteboard.editor;
        commSocket.send(JSON.stringify({
            'type': 'alteration',
            'userID': userID,
            'whiteboard': whiteboardData,
        }));
        // let whiteboard = document.querySelector('#whiteboard').editor;
        // let userID = {{user.id}};
        // commSocket.send(JSON.stringify({
        //     'type': 'alteration',
        //     'userID': userID,
        //     'whiteboard': whiteboard,
        // }));
    }, 100));


    // whiteboard.ontrixchange = sendAlter();

</script>
{% endblock%}