{% extends 'charapp/charapp_base.html' %}
{% block content %}
    <a href="{% url 'charapp:userhome' %}">home</a>
    <div class="container">
        <h3>{{profile.username}} posts</h3>
        {% for post in profile.posts.all %}
        <div class="card m-3">
                <div class="card-header">
                    Title
                </div>
                <div class="card-body">
                    <div class="card-text">
                        {{post.text}}
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for comment in post.comments.all %}
                        <li class="list-group-item">{{comment}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        <form action="{% url 'charapp:comment' post.id %}" method="post">
            {% csrf_token %}
            <input type = "hidden" name = "profile" value = "{{profile.username}}"/>
            <input type = "text" name = "comment_text" placeholder = "comment here"/>
            <b-button type="submit">submit comment</b-button>
        </form>
        {% endfor %}
    </div>
    <div class="container">
        <h3>user directory</h3>
        {% for user in userlist %}
        <a href="{% url 'charapp:profile' user.username %}">{{user}}</a> <br>
        {% endfor %}
    </div>
{% endblock %}
