{% extends 'charbucket/base.html' %}
{% block content %}

    <a href="{% url 'charapp:userhome' %}">home</a>
    <div class="container">
        <h3>{{profile.username}} profile</h3>
        {% for post in profile.posts.all %}
        <div class="card m-3">
                <div class="card-header">
                    {{post.title}}
                </div>
                <div class="card-body d-flex">
                    <div class="card-text col-sm trixprev">
                        {{post.text|safe}}
                    </div>
                    {% if post.upload %}
                    <iframe class="col-sm" src="{{post.upload.url}}" frameborder="0" allowfullscreen="True" seamless="True"></iframe>
                    {% endif %}
                    <div class="comment_box comment-prev">
                    <ul class="list-group list-group-flush">
                        {% for comment in post.comments.all %}
                        <li class="list-group-item">{{comment}}</li>
                        {% endfor %}
                    </ul>
                    </div>
                </div>
                <div class="card-footer">
                    <a type="button" class="btn btn-primary" href="{% url 'charapp:post_table' post.id %}">View</a>
                </div>
                <script>

                </script>
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <h3>user directory</h3>
        {% for user in userlist %}
        <a href="{% url 'charapp:profile' user.username %}">{{user}}</a> <br>
        {% endfor %}
    </div>
{% endblock %}
