{% extends 'charbucket/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="card w-100">
            <div class="card-header">
                <p>room key = {{roomkey}}</p>
                <p>userID = {{user}}</p>
            </div>
            <div class="card-body d-flex">
                <div class="col">
                    <input id="whiteboardInput" type="hidden" value="{{post.text|safe}}">
                    <trix-toolbar id="wbtools">
                        <button id="wbtools-set" class="btn btn-secondary">set</button>
                        <button id="wbtools-restore" class="btn btn-secondary">restore</button>
                        <div class="spinner-grow text-primary wbtools-indicator-el" id="wbtools-indicator" style="display:none" role="alert"></div>
                        <p class="wbtools-indicator-el" id="wbtools-indicator-label" style="display:none"></p>
                    </trix-toolbar>
                    <trix-editor class="trixcon" input="whiteboardInput" toolbar="wbtools" id="whiteboard" contenteditable="true"></trix-editor>
                </div>
    
                <div class="col comment_box">
                    <ul id="comment_block" class="list-group list-group-flush"></ul>
                    <input id = "comment_input" type = "text"/>
                    <br>
                    <button id="comment_submit" type="button" class="btn btn-secondary">Send</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    let commSocket = new WebSocket(
        'ws://' + window.location.host + 
        '/ws/charapp/quickroom/{{roomkey}}/'
    );

    let wbtIndicator = document.querySelector('#wbtools-indicator')
    let wbtLabel = document.querySelector('#wbtools-indicator-label')
    let wbtSet = document.querySelector('#wbtools-set')
    let wbtRestore = document.querySelector('#wbtools-restore')
    let whiteboard = document.querySelector('#whiteboard')
    let comBlock = document.querySelector('#comment_block')
    let comInput = document.querySelector('#comment_input')

    commSocket.onmessage = function(e) {
        console.log('message received by client');
        let data = JSON.parse(e.data);
        data = JSON.parse(data.text)
        console.log(data)

        if (data['llama'] == 'qComment') {
            console.log(data['user'])
            let message = data['message'];
            let li = document.createElement('li');
            li.innerHTML = data['userID'] + ': ' + data['comment']
            li.classList.add('list-group-item')
            comBlock.appendChild(li)
        }
        
        if (data['llama'] == 'qAlteration') {
            
            if (data['userID'] != '{{user}}') {
                console.log('setting editor')
                denyInput(data['userID'])
                let range = whiteboard.editor.getSelectedRange();
                let userID = data['userID'];
                whiteboard.editor.loadJSON(data['message']);
                whiteboard.editor.setSelectedRange(range);
            } else {console.log('same origin')};
        };


    };

    commSocket.onclose = function(e) {
        console.error('Websocket closed unexpectedly');
    };

    let inputFlag = false;
    let timer = 0
    let setTimer

    function denyInput(user) {
        console.log(inputFlag)
        if (inputFlag === false) {
        wbtIndicator.style.display = 'inline-block';
        wbtLabel.style.display = 'inline-block';
        wbtLabel.innerText = user + ' is typing'
        whiteboard.contenteditable = 'false';
        inputFlag = true
        if (timer < 3) {timer += 1}
        console.log('disabling input')
        setTimer = setInterval(reverseDeny, 1000)
        } else {
            if (timer < 3) {timer += 1}
        }
    }


    function reverseDeny() {
        console.log('interval...', timer)
        if (timer === 0) {
        console.log('zero caught')
        wbtIndicator.style.display = 'none';
        wbtLabel.style.display = 'none';
        whiteboard.contenteditable = 'true';
        inputFlag = false
        console.log('enabling input')
        clearTimer()
        } else {
            timer -= 1
        }
    }
    
    function clearTimer() {
        console.log('clearing interval');
        clearInterval(setTimer);
    }

    comment_submit.onclick = function(e) {
        let user = '{{user}}';
        let commTextInput = document.querySelector('#comment_input');
        let commText = comInput.value;
        commSocket.send(JSON.stringify({
            'llama': 'qComment',
            'commText': commText,
            'userID': user,
        }));
        commTextInput.value = '';
    };

    whiteboard.addEventListener('trix-change', _.debounce(function(e) {
        if (inputFlag) {
            console.log('listener disabled');
            return;
        }
        console.log('sending')
        let userID = '{{user}}';
        let whiteboardData = whiteboard.editor;
        commSocket.send(JSON.stringify({
            'llama': 'qAlteration',
            'userID': userID,
            'whiteboard': whiteboardData,
        }));
    }, 300));
    
    let restorePoint = null

    window.onload = function() {
        restorePoint = JSON.stringify(whiteboard.editor)
        console.log(restorePoint)
    }

    wbtSet.addEventListener('click', function() {
        console.log('heard set')
        restorePoint = JSON.stringify(whiteboard.editor);
    });

    wbtRestore.addEventListener('click', function() {
        console.log('heard restore')
        whiteboard.editor.loadJSON(JSON.parse(restorePoint))
    });

</script>
{% endblock%}