{% extends 'charapp/charapp_base.html' %}
{% block content%}
<script>
tinymce.init({selector:'#nu_post_text'});
</script>
    <div class="container">
        <b-button v-b-toggle.nu_post_form>New Post</b-button>
        <b-collapse id="nu_post_form">
            <form action="{% url 'charapp:nu_post' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="text" name="nu_post_title" placeholder="title"/>
            <input type="text" id="nu_post_text" name="nu_post_text" placeholder="text"/>
            <input type="file" name="nu_post_file" accept=".pdf"/>
            <b-button type="submit">submit</b-button>
            </form>
        </b-collapse>
        
    </div>
    <div class="container">
        <h3>user directory</h3>
        {% for user in userlist %}
        <a href="{% url 'charapp:profile' user.username %}">{{user}}</a> <br>
        {% endfor %}
    </div> 
    <div class="container">
        <h3>Posts</h3>
        {% for post in posts %}
        <div class="card m-3">
            <div class="card-header">
                {{post.title}}
                <b-button href="{% url 'charapp:post_table' post.id %}">View Post</b-button>
            </div>
            <div class="card-body d-flex">
                <div class="card-text col-sm">
                    {{post.text|safe}}
                </div>
                {% if post.upload %}
                <iframe class="col-sm" src="{{post.upload.url}}" frameborder="0" allowfullscreen="True" seamless="True"></iframe>
                {% endif %}
                <ul class="list-group list-group-flush">
                    {% for comment in post.comments.all %}
                    <li class="list-group-item">{{comment}}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}