{% extends 'charbucket/base.html' %}
{% block content%}
<script>
</script>
    <div class="container">
        <button class="btn btn-primary" data-toggle="collapse" data-target="#nu_post_form">New Post</button>
        <div class="collapse" id="nu_post_form">
            <form action="{% url 'charapp:nu_post' %}" enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <input type="text" name="nu_post_title" placeholder="title"/>
            <input type="hidden" id="nu_post_text" name="nu_post_text">
            <trix-toolbar id="nptools"></trix-toolbar>
            <trix-editor input="nu_post_text" toolbar="nptools"></trix-editor>
            <button class="btn btn-primary" type="submit">submit</button>
            </form>
        </div>
        
    </div>
    <div class="container">
        <h3>user directory</h3>
        {% for user in userlist %}
        <a href="{% url 'charapp:profile' user.username %}">{{user}}</a> <br>
        {% endfor %}
    </div> 
    <div class="container">
        <h3>Posts</h3>
        {% for post in posts %}
        <div class="card">
            <div class="card-header">
                {{post.title}}
                <a type="button" class="btn btn-primary" href="{% url 'charapp:post_table' post.id %}">View Post</a>
            </div>
            <div class="card-body d-flex">
                <div class="card-text col-sm trixprev">
                    {{post.text|safe}}
                </div>
                {% if post.upload %}
                <iframe class="col-sm" src="{{post.upload.url}}" frameborder="0" allowfullscreen="True" seamless="True"></iframe>
                {% endif %}
                <div class="comment-prev">
                <ul class="list-group list-group-flush">
                    {% for comment in post.comments.all %}
                    <li class="list-group-item">{{comment}}</li>
                    {% endfor %}
                </ul>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% endblock %}